html,
body {
    max-width: 100%;
}

#column-three div{
padding: 0;
}

.gif-styles {
    height: auto;
    width: 100%;
    padding: 5px;
    object-fit: fill;
}

@media(min-width: 992px) {
    body {
        padding: 0 10vw;
    }
}