html,
body {
    max-width: 100%;
}

.gif-styles {
    height: auto;
    width: 100%;
    padding: 5px;
    object-fit: fill;
}

@media(min-width: 576px) {
    #gif-area {
        columns: 1;
    }
}

@media(min-width: 768px) {
    #gif-area {
        columns: 2;
    }
}

@media(min-width: 992px) {
    body {
        padding: 0 10vw;
    }

    #gif-area {
        columns: 3;
    }
}